table, th, td {
    border: 3px solid rgb(141, 139, 139);
    border-collapse: collapse;
  }
  td{
    width: 20px;
    height: 20px;
  }
  .verde{
    background-color: green;
  }
  .rosso{
    background-color: red;
  }
  .blu{
    background-color:blue;
    color:white;
  }