table, th, td {
    border: 3px solid white;
    border-collapse: collapse;
  }
  td{
    width: 20px;
    height: 20px;
  }
  .giallo{
    background-color: rgb(255, 196, 0);
  }
  .nero{
    background-color: black;
  }